<div class="container py-5">
  <div class="row">
    <div class="col-8">
      <div class="bg-white rounded p-3 shadow">
        <div class="card-tool-show">
          <%= cl_image_tag @tool.photo.key %>
          <div class="card-tool-infos">
            <div>
              <h2><%= @tool.name %></h2>
              <p class="card-tool-condition">Condition: <%= @tool.condition %></p>
              <p class="card-tool-description"><%= @tool.description %></p>
            </div>
            <div class="card-tool-renting">
              <div class="card-tool-price">
                <h2>$<%= number_with_precision(@tool.tool_price, precision: 2) %></h2>
              </div>
              <div>
                <button type="button" class="btn btn-primary">Rent this tool</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <%= render 'bookings/form', tool: @tool, booking: Booking.new %>
    </div>
  </div>
</div>
