<div class="container  py-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card p-4 card-body shadow d-flex flex-row align-items-center justify-content-between">

        <div class="w-75 pe-4">
          <h1 class="card-body mb-4">Account</h1>
          <p><strong>Email:</strong> <%= @user.email %></p>
          <p><strong>First name:</strong> <%= @user.first_name %></p>
          <p><strong>Last name:</strong> <%= @user.last_name %></p>
          <p><strong>Phone number:</strong> <%= @user.phone_number %></p>
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-warning mt-3 rounded-pill px-4" %>
        </div>

        <div class="card-body me-2">
          <% if @user.profile_photo.attached? %>
            <%= cl_image_tag @user.profile_photo.key,
              class: "rounded-circle border shadow",
              style: "width: 150px; height: 150px; object-fit: cover;" %>
          <% else %>
            <%= image_tag("pfp-default.jpg",
              class: "rounded-circle border shadow",
              style: "width: 150px; height: 150px; object-fit: cover;") %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
