<!DOCTYPE html>
<html>
  <head>
    <title>ToolLending</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Forum&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.css' %>
    <%= javascript_include_tag 'https://api.mapbox.com/mapbox-gl-js/v2.15.0/mapbox-gl.js' %>

  </head>

  <body class="text-gray-900">
    <%= render "shared/navbar" %>

    <div class="min-h-screen bg-gray-50 px-6 py-8 max-w-7xl mx-auto">
      <%# <p class="notice text-green-600 mb-4"><%= notice %></p>
      <%# <p class="alert text-red-600 mb-4"><%= alert %></p>

      <%= render "shared/flashes" %>
      <%= yield %>
    </div>
  </body>
</html>
